# FILE: .gitignore
*.swp
*.suo
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
[Rr]elease/
[Rr]eleases/
[Dd]ebug/
[Dd]ebug[Pp]ublic/
[Ww]eb[Aa]ssembly/[Rr]elease/

[Ll]ogs/
[Ll]og/

_ReSharper.*/
*.[Rr]e[Ss]harper
*.DotSettings.user

.vs/
.vscode/

appsettings.Development.json

*.nupkg
*.snupkg
*.zip

TestResults/
coverage.*.xml
*.dotcover

*.DS_Store
Thumbs.db